.link {
  padding: 8px 16px;
  border-radius: 4px;
  text-decoration: none;
  color: black;
  font-weight: 500;
  font-size: large;
}

.link:hover {
  text-decoration: underline;
}

.active {
  color: rgb(16, 153, 239);
}

.header {
  display: flex;
  align-items: center;
  /* justify-content: space-between; */
  gap: 12px;
  padding: 8px 16px;
  margin-bottom: 16px;
  border-bottom: 3px inset rgb(202, 198, 198);
}
