.form {
  /* background-color: rgb(52, 52, 180); */
  padding: 16px 28px;
  display: flex;
  align-items: center;
  gap: 8px;
  /* justify-content: center; */
}

.button {
  background-color: white;
  height: 28px;
  padding: 0 4px;
}

.input {
  background-color: white;
  border: 1px groove lightskyblue;
  height: 26px;
  width: 400px;
  outline: none;
  border-radius: 4px;
  font-size: 16px;
  padding-left: 12px;
}
